<!doctype html>
<html lang="en" ng-app="GeneVar">

<!-- BLOCK LEVEL  -->
<!-- <div> -->
<!-- <h1> - <h6> -->
<!-- <p> -->
<!-- <form> -->

<!-- IN LINE  -->
<!-- <span> -->
<!-- <a> -->
<!-- <img> -->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GeneVar</title>

      <link rel="stylesheet" href="css/app.css">
      <script src="bower_components/angular/angular.js"></script>
     <script src="bower_components/d3/d3.min.js"></script>
    </head>
    <body ng-controller="ContentController">

        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <div id="logo">
                            <a href="#Home"> <strong>GeneVar</strong> </a>
                        </div>
                    </li>
                    <li>
                        <a href="#Home">Home</a>
                    </li>
                    <li>
                        <a href="#About">About</a>
                    </li>
                    <li>
                        <a href="#Guide">User Guide</a>
                    </li>
                    <li>
                        <a href="#Resources">Resources</a>
                    </li>
                    <br><br><br>
                    <li>
                        <a href="#Map">Heat Map (test)</a>
                    </li>
                </ul>
            </div>

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div id="Home">
                            <h1>GeneVar</h1>
                            <p id="subtitle">Identifying genetic variation between human populations geographically dispersed around the world...</p><br>
                                <form name="fileform">
                                <strong>1. Select File to Upload:</strong>
                                <br><br>
                                <input type="text" name="inputBox" size="40">
                                <input type="file" id="in" name="inFile">    <!-- SINGLE FILE -->
                                <!-- <input type="file" id="files" name="files[]" multiple> -->
                                <br>
                                <script>
                                    // Check for the various File API support.
                                    if (!(window.File && window.FileReader && window.FileList && window.Blob)) {
                                      alert('This application is not fully supported in this browser. Please try another browser. (Chrome and Safari are recommended.');
                                    }
                                      // document.getElementById('files').addEventListener('change', verifyFiles, false);  // MULTIPLE FILES
                                      // document.getElementById('in').addEventListener('change', uploadFile, false);

                                </script>
                                </form>
                                <br><br>
                                <strong>2. Select the Populations You Are Interested In Analyzing:</strong> <br>
                               <!--  <div ng-controller="checkController"> -->
                              <label ng-repeat="reg in pops">
                                  <!-- Creates a 'checkall' box for each population  <br><input type="checkbox" id="{{reg.cont}}" ng-click='checkAll(reg)'> <strong>{{reg.cont}}</strong><br> -->
                                    <br><p class="super-check">
                                        <strong>{{reg.cont}}</strong>
                                    </p>
                                    <label ng-repeat="c in reg.pop">
                                        <input type="checkbox" class="sub-check" id="{{c}}" ng-click='check(c)'> {{c}}<br>
                                   
                                     <!--  new,   <label ng-repeat="c in reg.pop">
                                    <!    <input type="checkbox" class="sub-check" id="{{c}}" ng-click='check(c)'> -
                                    <input type="checkbox" checklist-model="reg.pop"  checklist-value="pop" id="{{c}}" ng-click="check(c)">
                               
                                    {{c}}<br>-->
                                     </label>
                              </label><br>
                              Selected Populations (testing):  {{chkd}}
                              <br> <br>
                              <input type="button" value="Reset" name="get" ng-click='uncheckAll()'>
                              <input type="button" value="Submit" name="get" ng-click='submit()'><br><br>

                <!-- ********************************************* -->

                        </div>
                        <div id="About">
                            <h1>About</h1>
                            <p>{{ about.description }}
                                <br><br>
                                {{ about.p1 }}
                                <br><br>
                                {{ about.p2 }}
                                <br><br>
                                {{ about.p3 }}
                            </p>
                        </div>
                        <div id="Guide">
                            <h1>User Guide</h1>
                            <p>{{ usrGuide.hotspot }}
                                <br><br>
                                {{ usrGuide.infile }}
                                <br><br>
                                {{ usrGuide.results }}
                                <br><br>
                                {{ usrGuide.guide }}
                            </p>
                        </div>
                        <div id="Resources">
                            <h1>Resources</h1>
                            <p> {{ resources.ds1 }}
                                <br><br>
                                {{ resources.ds2 }}
                                <br><br>
                                {{ resources.ds3 }}
                                <br><br>
                                {{ resources.map }}
                            </p>
                        </div>
                        <div id="Map">
                            <h1>Heat Map (dummy data)</h1>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->

    </body>
    <footer>
        <script src="js/controllers.js"></script>
        <script src="js/app.js"></script>
    </footer>
</html>

